html {
    margin: 0;
    width: 100%;
    height: 100%;
    background:#F5F5F5;
}
body{
  min-width:298px;
  max-width:640px;
  font-family: varela,"century gothic",helvetica,arial,sans-serif;
  /*font-family:Helvetica Neue,Helvetica,Calibri,Verdana,Arial,Liberation Sans,DejaVu Sans,sans-serif;*/
  font-size:80%;
  background:white;
  padding:1em;
  /*border-style:solid;
  border-width:1px;
  margin:0px;*/
  margin-left: auto;
  margin-right: auto;
}
body.wide {
  max-width: 1280px;
}

.a_button,
input[type="submit"] {
  font-family: "Open Sans",varela,"century gothic",helvetica,arial,sans-serif;
}

h1,
h2 {
  font-family: "Raleway","Open Sans",varela,"century gothic",helvetica,arial,sans-serif;
}


#note{
  font-size:90%;
  /*font-family: Raleway,varela,"century gothic",helvetica,arial,sans-serif;*/
  /*font-weight: 300;*/
  /*color:darkgray;*/
  font-style:italic;
  text-align:center;
  padding-left:5%;
  padding-right:5%;
  padding-bottom:1em;
}
a {
  color: #057281;
  text-decoration: none;
}
a:hover {
  color:#FF6C00;
  text-decoration:underline;
}

/* A list highligher color */
.alist { color:#076977; font-weight:bold; }

td .a_button{
 width:100%;
 margin:0px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.full_height {
 height:100%;
}

th.widen, td.widen {
  width: 99%;
}

/* The roster box */
.rosterbox {
  font-family: varela,"century gothic",helvetica,arial,sans-serif;
  /*font-family:Helvetica Neue,Helvetica,Calibri,Verdana,Arial,Liberation Sans,DejaVu Sans,sans-serif;*//*Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;*/
  /*width:600px;*/
  text-align:center;
  text-indent:0px;
  /* border-style:solid; */
  /* border-color:#FFF0CF; */
  /*border-color:#999999;*/
  /* border-width:1px; */
  margin:10px;
  /*border-left-width:0px;
  border-right-width:0px;*/
  /*background-color:#EEEEEE;*/
  background-color:white;
  /*background-color:#FFE573;*/
  /* padding: 10px; */
  padding: 0;

  -webkit-box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.75);
  border-radius: 5px;

  border: 1px solid #e0e0e0;

  overflow:hidden;
  /* Don't overflow or wrap */
  /*word-break: break-all;*/
  white-space: nowrap;
  /* overflow-x: auto; */
  text-overflow: ellipsis;
}

.rosterbox ol {
  text-align: left;
}

/* Playerlist formatting */
table.playerlist {
  border-collapse: collapse;
  /* border: none; */
}

.playerlist tr:nth-child(even) td {
  background-color: #FDFCFA;
}

table.playerlist td, table.playerlist th {
  /* border: 1px solid #A0A0A0; */
  /* border: none; */
  padding: 2px 8px 2px 8px;
  margin: 0px;
  white-space: nowrap;
  text-align: center;
}

table.playerlist th {
    background-color: #F7E6C2;
    border-bottom: 1px solid #e0e0e0;
    color: #505050;
}

/* Shrink the player list font */
table#player_list_table td {
  font-size: 10pt;
}

/* Alternate rows in the player list */
table#player_list_table tr:nth-child(even) td {
    background-color: #B7E5EC;
}

table#player_list_table tr:nth-child(even):hover td {
    background-color: #FFF0CF;
}


table.playerlist tr:hover td {
    background-color: #FFF0CF !important;
    cursor: default;
}

/* Special cell types for player lists */
table.playerlist tr.alist td {
/*  background-color: LightYellow;*/
}
table.playerlist tr.its_me td {
  background-color: #F5D898;
}
table.playerlist tr.safe td {
/*  background-color: #D3FBD3;*/
}
table.playerlist tr.notsafe td {
  background-color: #FFEBE9;
}
/*table.playerlist tr.blist td {
  background-color: #FAD8DE;
}*/
table.playerlist tr.notsafe.its_me td {
  background-color: #FFD2CF;
}
/*table.playerlist tr.blist.its_me td {
  background-color: #F38D9F;
}*/

/* Buttons */
td.td_button {
  padding: 10px 8px 8px 0px;
  border:none collapse;
  margin:2px;
/*  height:3em;*/
}
.a_button,
input[type="submit"] {
    background-color: #FFE5AC; /*FFF0CF;*/
    border: 1px solid #FDC54C;
    border-radius: 12px;
    text-indent: 0;
    display: inline-block;
    color: #505050;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    padding: 5px 20px 5px 20px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;

    -webkit-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
}
.a_button {
  margin-left: 2em;
}
.a_button:hover,
input[type="submit"]:hover {
  background-color: #FAC34C;
  color: #015763;
  text-decoration: none;
}
.a_button:active,
input[type="submit"]:active {
  position:relative;
  top:1px;
}

input[type="submit"] {
  margin-top: 0.5em;
}
/* Headings */
h1 {
  text-align:center;
  padding:10px;
}
h2 {
  text-align:center;
  padding:10px;
}

/* Misc. Check for removal */
#forecast_embed {
  width:100%;
  border-top-style:solid;
  border-top-color:#AB7500;
  border-top-width:2px;
  border-bottom-style:solid;
  border-bottom-color:#AB7500;
  border-bottom-width:2px;
  margin-top:20px;
  margin-bottom:30px;
}
pre {
  font-family: Consolas,"Courier New",monospace;
  /*varela,"century gothic",helvetica,arial,sans-serif;*/
  /*font-family:Helvetica Neue,Helvetica,Calibri,Verdana,Arial,Liberation Sans,DejaVu Sans,sans-serif;*//*Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;*/
  /* width:600px; */
  text-align:center;
  /* text-indent:0px; */
  /* border-style:solid; */
  /* border-color:#AB7500; */
  /*border-color:#999999;*/
  /* border-width:2px; */
  margin:10px;
  /*border-left-width:0px;
  border-right-width:0px;*/
  /*background-color:#EEEEEE;*/
  /* background-color:white; */
  /*background-color:#FFE573;*/
  /* padding: 10px; */
  /* -moz-box-shadow: 3px 3px 4px #CCC; */
  /* -webkit-box-shadow: 3px 3px 4px #CCC; */
  /* box-shadow: 3px 3px 4px #CCC; */
}

.block{
  text-indent:50px;
  margin:0;
  padding:0;
}
.indented{
  text-indent:50px;
}
.emph {
  font-weight:bold;
}

input, select, textarea, button{
  font-family:inherit;
  font-size:inherit;
  width:inherit;
}
input#text {
  width:98%;
  padding:1%;
  margin-top:10px;
}
p.status {
  background-color:#f6b33d;
  color:white;
  padding:15px;
  padding-top:8px;
  padding-bottom:8px;
  font-weight:bold;
  border-style:solid;
  border-color:#A66C00;
  border-width:1px;
  text-align:center;
  -webkit-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
  margin:10px;
	text-shadow:1px 1px 0px #cd8a15;
}

.optional_mobile{
}
.desk25mobile50{
  width:25%;
}

.content_desktop {
  display: inline;
  color:#555;
}
.content_mobile {
  display: none;
  color:#555;
}

tr.alist td {
  font-weight: bold;
}

@media screen and (max-width: 960px) and (max-device-width : 480px){
  h1,
  h2,
  .a_button,
  input[type="submit"] {
    font-family: "Open Sans Condensed",varela,"century gothic",helvetica,arial,sans-serif;
  }

  .a_button,
  input[type="submit"] {
    font-size:95%;
    padding: 5px;
    border-radius: 6px;
   /* line-height:90%;
    padding:3px; */
  }
  body{
    font-size:3vw;
    padding: 3px;
  }
  pre{
    font-size:90%;
  }
  .optional_mobile{
    display:none;
  }
  .desk25mobile50{
    width:50%;
  }
  h1 { font-size: 4vw; }

  .rosterbox td, .rosterbox th {
    font-size: 3vw;
    overflow: hidden;
    white-space: normal;
    max-width: 20vw;
    /*font-size:70%;*/
    text-overflow: ellipsis;
  }
  .indented{
    text-indent:25px;

    /*word-break: break-all;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
/*  #htd {
    font-size:95%;
  }*/
  .block{
    text-indent:25px;
  }
  .content_desktop {
    display: none;
  }
  .content_mobile {
    display: inline;
  }

}

@media screen and (max-width: 640px) and (max-device-width : 480px){
  .a_button,
  input[type="submit"] {
    font-size:110%;
    padding: 5px;
   /* line-height:90%;
    padding:3px; */
  }
  body{
    font-size:3vw;
    padding: 3px;
  }
  pre{
    font-size:100%;
  }
  .optional_mobile{
    display:none;
  }
  .desk25mobile50{
    width:50%;
  }
  h1 { font-size: 4vw; }
  .rosterbox td, .rosterbox th {
    font-size: 3vw;
    overflow: hidden;
    white-space: normal;
    max-width: 20vw;
    /*font-size:70%;*/
    text-overflow: ellipsis;
  }
  .indented{
    text-indent:10px;

    /*word-break: break-all;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
/*  #htd {
    font-size:110%;
  }*/
  .block{
    text-indent:10px;
  }
  .content_desktop {
    display: none;
  }
  .content_mobile {
    display: inline;
  }
}
